.contenedor {
    margin: 0 80px 0 20px;
}

.MargenForm {
    margin: 0 250px 0 40px;
}

.MargenHP {
    margin: 0 40px 0 15px;
    text-align: justify;   
}
.MargenMA {
    margin: 0 40px 0 15px;
    text-align: justify;
}